<br>
<br>
<br>

<ngb-carousel >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/animations-e-commerce.png" alt="Random first slide" style="width: 100%; height: 350px;">
      </div>
      <div class="carousel-caption">
      
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/big-sale-promotion-ecommerce-banner-with-people-computer-monitor-screen_197170-30.jpg" alt="Random first slide" style="width: 100%; height: 350px;">
      </div>
      <div class="carousel-caption">
       
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/e-commerce-link-building-760x400-1.png" alt="Random first slide" style="width: 100%; height: 350px;">
      </div>
      <div class="carousel-caption">
      
      </div>
    </ng-template>
  </ngb-carousel>
  <br>
<br>
<br>