<div class="container">
<form  [formGroup]='registerForm' (ngSubmit)="getFormData(registerForm)">
    
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"formControlName="useremail">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">address </label>
        <input type="text" class="form-control" id="exampleInputname" aria-describedby="namelHelp"formControlName="address">
      </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
    </div>
    
    <button type="submit" class="btn btn-primary"(click)="delete()" routerLink="/home">Submit</button>
  </form>
  </div>